# Build results
bin/
obj/

# User-specific files
*.user
*.suo
.vs/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node / Tailwind
node_modules/
dist/

# Secrets
appsettings.Development.json


*.mdf
*.ldf