@model LibraryManagement.Models.Loan

<h2 class="text-xl font-bold mb-4">Prestar Libro</h2>

<form asp-action="Create" method="post" class="space-y-4">
    <input type="hidden" asp-for="BookId" value="@ViewBag.BookId" />

    <div>
        <label>Solicitante</label>
        <input asp-for="BorrowerName" class="border p-2 w-full" />
        <span asp-validation-for="BorrowerName" style="color: #ef4444;"  class="text-danger"></span>
    </div>

    <div>
        <label>Fecha de devolución</label>
        <input asp-for="ReturnDate" type="date" class="border p-2 w-full" />
        <span asp-validation-for="ReturnDate" style="color: #ef4444;" class="text-danger"></span>
    </div>

    <button class="bg-blue-500 text-white px-4 py-2 rounded">
        Confirmar préstamo
    </button>
</form>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}